@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("base.min.css");
@import url("site.min.css");
@import url("color.min.css");
@import url("login.min.css");

.site-menu-icon{
  font-size: 2.3em;
}

.form-control{
  height: auto;
}

.layout-full .page{
  background-color: #f1f4f5;
  height: auto;
}

.layout-full .page-content{
  padding: 30px 0 0 0;
}

.footer {
    background-color: #fff
}

.copyright {
    padding: 20px 0;
}
